# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# Streamlit
.streamlit/

# Fichiers de données locaux sensibles à ignorer
users.json       # <-- on ignore ce fichier pour protéger les mots de passe

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
